form {
	display: flex;
	flex-direction: column;
}

form * {
	margin-bottom: 3%;
}

h1 {
	margin-bottom: 0;
}

sub {
	margin-bottom: 3%;
}

select,
option {
	text-align: center;
}

.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1em 1em 0 1em;
	min-width: 200px;
	max-width: 300px;
	width: calc(100% - 2em);
	vertical-align: top;
	z-index: auto;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	border: none;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none;
	/* for box shadows to show on iOS */
	padding: 0.85em 1.5em;
	width: 100%;
	border-radius: 2em;
	background: #fff;
	color: #2a363b;
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	color: #6a7989;
	font-weight: bold;
	font-size: 70.25%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 0;
	padding: 0 0 0 2em;
	width: 100%;
	text-align: left;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

.input__label::after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 100%;
	/* background: rgba(11, 43, 205, 0.6); */
	background: rgba(153, 184, 152, 0.6);
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	pointer-events: none;
}

.input__label-content--kyo {
	padding: 0.5em 0;
}

.input__field:focus,
.input__field:focus+.input__label .input__label-content {
	z-index: 10000;
}

.input__field--kyo:focus+.input__label--kyo {
	color: #fff;
}

.input__field--kyo:focus+.input__label--kyo::after {
	opacity: 1;
}

/* Banner */

.input--banner {
	margin: 0 1em;
}

.input__label-content--banner {
	padding-top: 0;
}

.btn {
	background-color: #99b898;
	color: #fff;
}

.btn:hover {
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	background-color: rgb(153, 204, 152);
}