<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ascii-Art-Web</title>
    <link rel="stylesheet" href="public/css/public.css">
    <link rel="stylesheet" href="public/css/home.css">
    <link rel="stylesheet" href="public/css/process.css">
</head>

<body>
    <pre>{{ . }}</pre>
    <span class="buttons">
        <a href="/"><button class="btn input__field">Back</button></a>
        <a href="public/output.txt" download><button class="btn input__field">Download</button></a>
    </span>
</body>

</html>